<div style="text-align:center; margin:10%">
    <h1>
        Login
    </h1>

    <form action="/login" method="post">
        <div style="padding:1% ;">
            <label for="email">Email</label>
            <input style="margin-left:2%" type="email" id="email" name="email" required="true">
        </div>

        <div style="padding:1%">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required="true">
        </div>

        <button type="submit">Login</button>
    </form>

    <a href="/register" style="padding: 1%;">Register</a>
    <a href="/" style="padding: 1%;">Home Page</a>
</div>