<div style="text-align: center; margin-top:10%">
    <h1>
        Secret page
    </h1>

    <a href="/" style="padding: 1%;">Home Page</a>
    <a href="/logout" style="padding: 1%;">Logout</a>

</div>

<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }

    setTimeout("preventBack()", 0);
    let myVar = window.location.href;
    console.log(myVar + " HEllo");
</script>